@model FrameMobile.Model.News.NewsConfig
@{
    ViewBag.Title = "添加配置表";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm())
        {
            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>

            <table width="20%" border="0">
                @Html.ValidationSummary(true)
                <tr>
                    <td>
                        <strong>配置表名称: </strong>
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Name)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-large btn-blue addapp" style="margin-left: 200px">
                            添 加</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
