@model List<FrameMobile.Model.News.NewsConfig>
@{
    ViewBag.Title = "新闻配置表管理";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-large btn-blue addapp" onclick="window.open('AddConfig','_self');">
            配置表添加</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title</b>
        </div>
        <div>
            <button class="btn btn-quaternary btn-large" onclick="history.back();">
                返 回</button>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>名称</th>
                <th>版本</th>
                <th>状态</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="prolist">
            @for (int propIndex = 0; propIndex < Model.Count; propIndex++)
            {
                formType = ((ElementType)Model[propIndex].Type).ToString();
                <tr class="odd gradeX">
                    <td><strong>@Model[propIndex].Name</strong></td>
                    <td>@Model[propIndex].Version</td>
                    <td>@Model[propIndex].Status</td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="window.open('AttributeEdit?attrId=@Model[propIndex].Id','_self');">修 改</button>
                    </td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="var c=confirm('确定要删除?'); if(c==true){window.open('AttributeDelete?attrId=@Model[propIndex].Id','_self');}">
                            删 除</button>
                    </td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="window.open('AttributeDetail?attrId=@Model[propIndex].Id','_self');">
                            属性值管理</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
