@using FrameMobile.Model.Account
@model User
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="contentHeader">
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title</b>
        </div>
        <div>
            <button class="btn btn-quaternary btn-large" onclick="history.back();">
                返 回</button>
        </div>
    </div>
</div>

<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户名</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="prolist">

            <tr class="odd gradeX">
                <td><strong>@Model.Name</strong></td>
                <td><strong>@Model.Email</strong></td>
                <td>@Model.Status</td>
                <td class="center">
                    <button type="button" class="btn btn-large btn-gray"  onclick="window.open('UserEdit?userId=@Model.Id','_self');">修 改</button>
                </td>
                <td class="center">
                    <button type="button" class="btn btn-large btn-gray"  onclick="var c=confirm('确定要删除?'); if(c==true){window.open('UserDelete?userId=@Model.Id','_self');}">
                        删 除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
