<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="News_MySQL_ConnectString" connectionString="server=192.168.3.52;database=tydnews;user id=tyd; password=zJl5fuVxATe" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--TouTiao-->
    <add key="TYD_News_Resources_Dir_Root" value="D:\NewsResources"/>
    <add key="TYD_News_Image_File_URL" value="http://news.kk874.com/NewsResources/Images"/>
    <add key="TYD_News_TouTiao_Partner" value="tydtech" />
    <add key="TYD_News_TouTiao_Secure_Key" value="5a74f9188e0e413e28fe3c490b009ce7" />
    <add key="TYD_News_TouTiao_Request_URL" value="http://open.snssdk.com/data/category/"/>
    <add key="TYD_News_TouTiao_Request_Count" value="50"/>

    <!--Tencent-->
    <add key="TYD_News_Tencent_Request_URL" value="http://openapi.inews.qq.com/getNewsByChlidVerify"/>
    <add key="TYD_News_Tencent_Request_Count" value="10"/>
    <add key="TYD_News_Tencent_App_Key" value="3XfMefMGRHJMpKZHKbKxFWvsFgO4FV"/>

    <add key="TimeIntervalToLoadData" value="5" />
    <add key="Cleanup_News_Content_Days_Ago_Value" value="30"/>
    <add key="Update_News_Same_PublishTime_Limit" value="10"/>
    <add key="Update_News_Start_PublishTime_Hour" value="1"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
