<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--TouTiao-->
    <add key="TYD_News_Resources_Dir_Root" value="D:\NewsResources"/>
    <add key="TYD_News_Image_File_URL" value="http://newsimage.kk874.com"/>
    <add key="TYD_News_TouTiao_Partner" value="tydtech" />
    <add key="TYD_News_TouTiao_Secure_Key" value="5a74f9188e0e413e28fe3c490b009ce7" />
    <add key="TYD_News_TouTiao_Request_URL" value="http://open.snssdk.com/data/category/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
