<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" Encoding="utf-8"  name="ErrorLoggerTarget" fileName="D:/TYDNewsLogs/Error/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
    <target xsi:type="File" Encoding="utf-8"  name="InfoLoggerTarget" fileName="D:/TYDNewsLogs/Info/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
    <target xsi:type="File" Encoding="utf-8"  name="TraceLoggerTarget" fileName="D:/TYDNewsLogs/Trace/log_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorLoggerTarget" />
    <logger name="InfoLogger" minlevel="Info" writeTo="InfoLoggerTarget" />
    <logger name="TraceLogger" minlevel="Trace" writeTo="TraceLoggerTarget" />
  </rules>
</nlog>