<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="Common_MySQL_ConnectString" connectionString="server=192.168.50.103;database=tydcommon;user id=tyd; password=zJl5fuVxATe;Pooling=true;Min Pool Size=0;Max Pool Size=2" providerName="MySql.Data.MySqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="News_MySQL_ConnectString" connectionString="server=192.168.50.103;database=tydnewstest;user id=tydtest; password=!QAZ2wsx;Pooling=true;Min Pool Size=0;Max Pool Size=1" providerName="MySql.Data.MySqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="Theme_MySQL_ConnectString" connectionString="server=192.168.50.103;database=tydthemetest;user id=tydtest; password=!QAZ2wsx;Pooling=true;Min Pool Size=0;Max Pool Size=1" providerName="MySql.Data.MySqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Demo_TouTiao_File_Path_Root" value="D:\WebRoot\tydnews\bin\Demo" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnableSNAP" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceCacheTimeOutSeconds" value="1800" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UsingSharedResourceFolder" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!--read write servers,  using ';' to separate all redis servers-->
    <add key="Cache_redis_read_write_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Cache_redis_readonly_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Cache_MaxWritePoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Cache_MaxReadPoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="cache_news_redis_read_write_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_news_redis_readonly_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_news_MaxWritePoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_news_MaxReadPoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="cache_theme_redis_read_write_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_theme_redis_readonly_servers" value="192.168.50.101:7371" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_theme_MaxWritePoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cache_theme_MaxReadPoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>