<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="News_MySQL_ConnectString" connectionString="server=localhost;database=TYDNews;user id=tyd; password=zJl5fuVxATe"
providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--TouTiao-->
    <add key="TYD_News_TouTiao_Partner" value="tydtech" />
    <add key="TYD_News_TouTiao_Secure_Key" value="5a74f9188e0e413e28fe3c490b009ce7" />
    <add key="TYD_News_TouTiao_Request_URL" value="http://open.snssdk.com/data/category/"/>
  </appSettings>
</configuration>