<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Share_AppStoreResources_Dir_Root" value="\\192.168.30.7\AppStoreResources" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redis_read_write_servers" value="192.168.30.4:6379" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redis_readonly_servers" value="192.168.30.4:6379" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MaxWritePoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MaxReadPoolSize" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>